/** General */
.flexContainer {
    display: flex;;
}

.hori {
    flex-direction: row;
}

.vert {
    flex-direction: column;
}

/** Top half */
.top {

}

/** Cards */

.tempTimeline {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* .tempTimeline > * {

} */

.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000;
}